<h1>List Folders</h1>

<table id="mytable"  width="100%" cellpadding="1" cellspacing="1">
  <tr>
     <th  class="manage">Id</th>
    <th  class="manage">Name</th>
    <th  class="manage">File</th>
    <th  class="manage">Content</th>
    <th  class="manage">Manage</th>
  </tr>

<% @helps.each do |help| %>
  <tr>
    <td class="doc"><%=h help.id %></td>
    <td class="doc"><%=link_to help.name, help %></td>
    <td class="doc"><%=h help.file.original_filename %></td>
    <td class="doc"><%=h help.content %></td>
    <td class="doc"><%= link_to 'Edit', edit_help_path(help) %> <%= link_to 'Destroy', help, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New help', new_help_path %>
